html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: rgb(54, 53, 58);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}