.bg-nav {
    background-color: rgb(179, 31, 47);
}

.navbar {
    min-height: 60px; /* blocca altezza minima */
}

.navbar-nav .nav-link i {
    color: white;
}
.navbar-brand {
    color: white !important;
    font-weight: bold;
    display: flex;
    align-items: center; /* centra verticalmente logo e testo */
    gap: 10px;           /* spazio tra logo e testo */
}

.logo-navbar {
    height: 40px;
    width: auto;
}

/* Stile per pulsante navbar simile ai link */
.btn-navbar {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    display: flex;
}

@media (max-width: 768px) {
    .logo-navbar {
        height: 30px;
    }
}